
#IDE: PHPStorm
.idea/

# Node / Vitest (should never exist on host, but just in case)
node_modules/
package-lock.json
.DS_Store
.vscode/
*.log

# Source assets / local files not meant for web
CV DH.md
